WEB_PORT=3000
API_ADDRESS=:8080
INTERNAL_API_PROXY_TARGET=http://api:8080
PROCESSOR_BASE_URL=http://processor:8000
NPM_REGISTRY=https://registry.npmmirror.com
GOPROXY=https://goproxy.cn,direct
GOSUMDB=sum.golang.google.cn
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
